@import './variables';

@mixin default-transition($property: all) {
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  transition-property: #{$property};
}

@mixin mobile {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
