$color-accent: #1952E1;
$color-accent-2: #1649CA;
$color-accent-3: #2E3E6E;

$color-gray-900: #1A1A1A;
$color-gray-800: #33373C;
$color-gray-700: #63666E;
$color-gray-600: #9A9DA4;
$color-gray-500: #E2E4EA;
$color-gray-400: #F3F4F9;
$color-gray-300: #F8F8FB;
$color-gray-000: #FFF;

// // bootstrap overrides
// $body-bg: $color-gray-400;
// $body-color: $color-gray-900;
// $card-border-radius: .25rem