$color-accent: #1952E1;
$color-accent-2: #1649CA;
$color-accent-3: #2E3E6E;

$color-gray-5: #1A1A1A;
$color-gray-4: #33373C;
$color-gray-3: #63666E;
$color-gray-2: #9A9DA4;
$color-gray-1: #F3F4F9;
$color-gray-0: #FFF;

// // bootstrap overrides
// $body-bg: $color-gray-1;
// $body-color: $color-gray-5;
// $card-border-radius: .25rem